@using ServiceContract.DTO;
@model StockResponse


<section class="container">



	<div class="app-title">@Model.StockName</div>
<div>@Model.StockSymbol</div>
	<div><h2>$ @Model.Price</h2></div>
</section>
